.comment-list {
    margin: 2rem auto 0;
    width: 90%;
    min-width: 30rem;
    height: min-content;
}

.comment-container {
    background-color: var(--bg-content-color);

    padding: 1rem 1.2rem;
    border-bottom: var(--primary-border);
}

.comment-header {
    margin-bottom: 1rem;

    display: flex;
    gap: 0.5rem;
}

.comment-username,
.comment-date {
    font-size: 0.8rem;
}
