.main-form {
    width: 100%;
    margin: 2rem auto;
    max-width: 30rem;
    border: var(--primary-border);
    background: var(--bg-content-color);
    padding: 2rem;

    display: grid;
    gap: 20px;
}

label {
    font-family: var(--title-font);
    font-size: 0.9em;
    font-weight: bold;
    color: var(--label-color);

    display: grid;
    gap: 5px;
}

.title-text {
    font-family: var(--title-font);
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-link {
    margin-top: 1rem;
    color: var(--action-color);
    text-align: center;
}

form input,
form textarea,
form select {
    width: 100%;
    font-size: 1.15em;
    padding: 5px;
}

form input,
form select {
    height: 35px;
}

form select:invalid,
form *::placeholder {
    color: var(--placeholder-color);
}

form textarea {
    height: 70px;
    padding: 5px;
    font-family: 'Rubik';
    resize: vertical;
}

form button {
    height: 2.5rem;
    background: var(--action-color);
    border: 0;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
}

form button:disabled {
    opacity: 0.5;
}

form input[type='file'] {
    padding: 0;
    border-radius: 0;
    border: none;
}

.preview {
    height: 128px;
    width: 128px;
    object-fit: cover;
    /* border: 1px solid var(--placeholder-color); */
    /* background: white; */
}

#add-post {
    width: 100%;
}

#search-form {
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 1rem;
}
