:root {
    --bg-primary-color: #dae0e6;
    --bg-content-color: white;
    --text-primary-color: #1c1c1c;
    --text-secondary-color: #888a8c;
    --logo-color: #0068ff;
    --action-color: #0279d3;
    --accent-font: 'IBM Plex Sans', sans-serif;
    --title-font: 'Noto Sans', sans-serif;
    --content-font: 'Times New Roman', Times, serif;
    --primary-border: 1px solid rgba(138, 138, 138, 0.494);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--content-font);
    color: var(--text-primary-color);
    background: var(--bg-primary-color);
}

button {
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    border: 1px solid rgba(138, 138, 138, 0.494);
    min-width: max-content;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.95);
}

.page-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3.2rem;
    padding: 0.2rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    background-color: var(--bg-content-color);
    border-bottom: var(--primary-border);
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-family: var(--accent-font);
    font-weight: 600;
}

.logo-icon {
    height: 2rem;
}

.title {
    font-size: 1.3rem;
}

.search-bar {
    flex-grow: 2;
    height: 80%;
    padding: 0.2rem 0.5rem;

    border: var(--primary-border);
    border-radius: 1rem;

    display: flex;
    max-width: 40rem;
    gap: 0.3rem;
}

.search-btn {
    padding: 0.2rem;
    border: none;
    background: none;
    height: 100%;
}

.search-icon {
    height: 100%;
}

.search-input {
    flex-grow: 2;
    border: none;
    font-size: 0.9rem;
}

.search-input:focus {
    outline: none;
    border: none;
}

nav {
    height: 80%;
    display: flex;
    gap: 1rem;
}

.action-btn {
    color: white;
    background-color: var(--action-color);
    border: none;
}

main {
    width: 100vw;
    padding: 1rem;
}

footer {
    width: 100vw;
}

.error {
    color: red;
}

.hidden {
    display: none;
}
