.post-list {
    padding-top: 2rem;

    display: grid;
    justify-items: center;
    gap: 1rem;
}

.post {
    padding: 1rem;
    width: 90%;
    min-width: 30rem;
    max-height: 30rem;

    border: var(--primary-border);
    background-color: var(--bg-content-color);

    font-family: var(--primary-font);
}

.post a {
    display: grid;
    grid-template-rows: 2rem auto auto;
    row-gap: 1rem;

    color: var(--primary-font);
}

.post-title {
    font-size: 1.8rem;
    font-family: var(--title-font);
}

.post-image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}
