main {
    display: grid;
    grid-template-rows: 4rem auto;
    justify-content: center;
}

.error {
    justify-self: center;
}

.post-list {
    display: grid;
    padding: 1rem 10%;
    gap: 1rem;
    justify-content: center;
}

.post {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(138, 138, 138, 0.494);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(159, 183, 221);
    max-width: 80rem;
    min-width: 40rem;
    max-height: 30rem;
    /* height: max-content; */
}

.post a {
    /* height: min-content; */
    text-decoration: none;
    color: var(--primary-font);
    display: grid;
    grid-template-rows: 2rem auto auto;
    row-gap: 1rem;
}

.post-title {
    font-size: 1.8rem;
}

.post-image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

#search-form {
    width: 80%;
    justify-self: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

#search-form input,
#search-form button {
    height: 2rem;
}
