.post-container {
    padding: 1rem;
    margin: 2rem auto 0;
    width: 90%;
    min-width: 30rem;

    display: grid;
    grid-template-areas:
        'info'
        'title'
        'description'
        'image';
    row-gap: 0.5rem;
    column-gap: 1rem;

    border: var(--primary-border);
    background-color: var(--bg-content-color);
    font-family: var(--primary-font);
}

.post-username,
.post-date {
    font-size: 0.8rem;
}

.post-info {
    grid-area: info;
    display: flex;
    gap: 1rem;
}

.post-date {
    grid-area: date;
}

.post-title {
    grid-area: title;
    padding-right: 1rem;
    font-size: 1.8rem;
    font-family: var(--title-font);
}

.post-description {
    grid-area: description;
    align-self: flex-end;
    height: 60%;
    margin-bottom: 1rem;
}

.post-image-container {
    grid-area: image;
    justify-self: center;

    width: 100%;

    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

#post-image {
    max-height: 30rem;
    max-width: 100%;
    object-fit: cover;
}
