.post-summary {
    padding: 1rem;
    margin: 2rem auto 0;
    width: 90%;
    min-width: 30rem;
    max-height: 35rem;

    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'title description'
        'image image';
    row-gap: 0.5rem;
    column-gap: 1rem;

    border: var(--primary-border);
    background-color: var(--bg-content-color);
    font-family: var(--primary-font);
}

.post-title {
    grid-area: title;
    padding-right: 1rem;
    font-size: 1.8rem;
    font-family: var(--title-font);
    border-right: var(--primary-border);
}

#post-image {
    grid-area: image;
    justify-self: center;
    padding-top: 1rem;
    border-top: var(--primary-border);
    max-height: 30rem;
    object-fit: cover;
}

.post-description {
    grid-area: description;
    align-self: flex-end;
    height: 60%;
}

.add-comment-form {
    margin: 2rem auto 0;
    width: 90%;
    min-width: 30rem;
    height: min-content;
    padding: 0 0 0 1rem;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    background-color: var(--bg-content-color);
    border: var(--primary-border);
    border-radius: 1rem;
}

.add-comment-form input {
    border: none;
    height: 2.5rem;
    height: 95%;
    padding: 0.2rem 0.5rem;
}

.add-comment-form input:focus {
    outline: none;
    border: none;
}

.add-comment-form button {
    height: 2.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.comment-list {
    margin: 2rem auto 0;
    width: 90%;
    min-width: 30rem;
    height: min-content;
}

.comment-list li {
    background-color: var(--bg-content-color);

    padding: 1rem 1.2rem;
    border-bottom: var(--primary-border);
}
